<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <div class="header-content">
            <div>
                <h1><%= user %></h1>
            </div>
            <div>
                <h1>Dashboard</h1>
                <p>Enter source and destination to find available routes.</p>
            </div>
            <div>
                <a href="/logout" class="logout-btn">Logout</a>
            </div>
        </div>
    </header>
    <main>
        <form action="/booking/dashboard" method="post" class="route-form">

            <label for="source">Source:</label>
            <input type="text" id="source" name="source" required>

            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" required>

            <button type="submit" class="route-btn">Get Routes</button>
        </form>
    </main>
    <% if (routes && routes.length> 0) { %>
        <div class="routes-table">
            <h2>Available Routes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Price</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < routes.length; i++) { %>
                        <tr>
                            <td>
                                <%= routes[i].start %>
                            </td>
                            <td>
                                <%= routes[i].end %>
                            </td>
                            <td>
                                &#8377; <%= routes[i].price %>
                            </td>
                            <td>
                                <%= routes[i].startTime.toLocaleDateString('en-EN', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) %>
                            </td>
                            <td>
                                <%= routes[i].endTime %>
                            </td>
                            <td><a href="/book/<%= routes[i]._id %>">Book Now</a></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <% } %>
</body>

</html>